<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Inventario</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (prod of products(); track prod.id) {
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img [src]="prod.images | productImage" [alt]="prod.title" />
                </div>
              </div>
              <div>
                <a [routerLink]="['/admin/products', prod.id]" class="font-bold">{{
                  prod.title
                }}</a>
                <div class="text-sm opacity-50">{{ prod.sizes.join(', ') }}</div>
              </div>
            </div>
          </td>
          <td>
            {{ prod.price | currency }}
          </td>
          <td>
            @if (prod.stock <= 10) {
              <span class="badge badge-error">{{ prod.stock }}</span>
            } @else if (prod.stock <= 20) {
              <span class="badge badge-warning">{{ prod.stock }}</span>
            } @else {
              <span class="badge badge-success">{{ prod.stock }}</span>
            }
          </td>
          <th>
            <button [routerLink]="['/admin/products', prod.id]" class="btn btn-ghost btn-xs">
              details
            </button>
          </th>
        </tr>
      }
    </tbody>
  </table>
</div>
